.automative-banner {
  background: linear-gradient(to bottom, #00103a 0%, rgba(0, 16, 58, 0.98) 17%, rgba(0, 16, 58, 0.89) 31%, rgba(0, 16, 58, 0.81) 38%, rgba(0, 16, 58, 0.69) 45%, rgba(0, 16, 58, 0.3) 67%, rgba(0, 16, 58, 0.1) 85%, transparent 100%),

    url('/Image/automotive-background-1920x1080.jpg'); // Correct image path
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 400px;
  overflow: hidden !important;
  @media (min-width: 576px) {

    border-bottom-right-radius: 100% 20%;
    border-bottom-left-radius: 100% 20%;
  }

  .banner-text {
    h1 {
      font-size: 4rem;
      font-weight: bold;
    }

    p {
      font-size: 1.5rem;
    }
  }
}
.heading {
  font-size: 2rem;
  font-weight: bold;
}

.subheading {
  font-size: 1.2rem;
  margin-top: 10px;
  color: #28234d;
}

.description {
  font-size: 1rem;
  line-height: 1.6;
  color: #727272;
}

.stage-item {
  text-align: center;
  margin-bottom: 20px;
}

.stage-number {
  font-size: 120px;
  color: #0056b3;
  /* Adjust the color as needed */
  font-weight: bold;
}

.stage-image-container {
  margin: 20px 0;
}

.stage-image {
  width: 200px;
  /* You can adjust the size */
  height: 200px;
  object-fit: cover;
}


//consumer
.consumer {
  .automative-banner {
    background: linear-gradient(to bottom, #00103a 0%, rgba(0, 16, 58, 0.98) 17%, rgba(0, 16, 58, 0.89) 31%, rgba(0, 16, 58, 0.81) 38%, rgba(0, 16, 58, 0.69) 45%, rgba(0, 16, 58, 0.3) 67%, rgba(0, 16, 58, 0.1) 85%, transparent 100%),

      url('/Image/consumer-background-768x512.jpg');
  }
}



.Industrial {
  .automative-banner {
    background: linear-gradient(to bottom, #00103a 0%, rgba(0, 16, 58, 0.98) 17%, rgba(0, 16, 58, 0.89) 31%, rgba(0, 16, 58, 0.81) 38%, rgba(0, 16, 58, 0.69) 45%, rgba(0, 16, 58, 0.3) 67%, rgba(0, 16, 58, 0.1) 85%, transparent 100%),

      url('/Image/industrial-background-1920x1080.jpg');
  }
}


.Retail {
  .automative-banner {
    background: linear-gradient(to bottom, #00103a 0%, rgba(0, 16, 58, 0.98) 17%, rgba(0, 16, 58, 0.89) 31%, rgba(0, 16, 58, 0.81) 38%, rgba(0, 16, 58, 0.69) 45%, rgba(0, 16, 58, 0.3) 67%, rgba(0, 16, 58, 0.1) 85%, transparent 100%),

      url('/Image/retail-background-1920x1080.jpg');
  }
}